services:
  politburo:
    build:
      context: ../politburo
      dockerfile: Dockerfile.dev
      target: dev
    working_dir: /app      # <--- root, not /app/cmd/server
    container_name: politburo
    volumes:
      - ../politburo:/app
      - politburo_air_tmp:/app/.air_tmp
    ports:
      - "8080:8080"
    env_file:
      - ../politburo/.env
    command: ["sh","-c","sleep 10 && air -c air.toml"]
    #command: ["air", "-c", "air.toml", "-d"]
    stdin_open: true
    depends_on:
      - db
    
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: infinite
      POSTGRES_USER: ieuser
      POSTGRES_PASSWORD: iepass
    volumes:
      - pgdata-dev:/var/lib/postgresql/data
      - /home/odin/projects/infinite-experiment/politburo/internal/db/migrations:/migrations:ro 
    ports:
      - "5432:5432"
  
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: sanketpandia@gmail.com
      PGADMIN_DEFAULT_PASSWORD: ieadmin
    ports:
      - "5050:80"
    depends_on:
      - db

  comrade-bot:
    build:
      context: ../comrade-bot
      dockerfile: Dockerfile.dev
    container_name: comrade-bot
    working_dir: /app
    volumes:
      - ../comrade-bot:/app
    command: ["ts-node-dev", "--respawn", "--transpile-only", "src/index.ts"]
    stdin_open: true
    env_file:
      - ../comrade-bot/.env


  vizburo:
    build:
      context: ../vizburo
      dockerfile: Dockerfile.dev
    container_name: vizburo
    volumes:
      - ../vizburo:/app
    ports:
      - "8081:3000"
    environment:
      - API_URL=http://politburo:8080
volumes:
  pgdata-dev:
  politburo_air_tmp:
