apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true

  - name: PostgreSQL
    type: postgres
    access: proxy
    jsonData:
      database: infinite
      host: db
      port: 5432
      sslmode: disable
      user: ieuser
    secureJsonData:
      password: iepass
    isDefault: false
    editable: true
